/* Custom styles for current presentation */

.reveal table {
  font-size: 1.2em;
}

.reveal table th,
.reveal table td {
  text-align: center;
}

.reveal table td {
  font-size: 1.5em;
}

.reveal h1.letter {
  border: 8px solid #eee;
  border-radius: 50%;
  width: 165px;
  margin: 0 auto 20px auto;
}